# ESPHome Secrets - Renombrar a secrets.yaml y completar
# Este archivo contiene credenciales sensibles

# WiFi
wifi_ssid: "TuRedWiFi"
wifi_password: "TuContraseñaWiFi"

# API Home Assistant
api_key: "genera_una_key_con_esphome"

# OTA Updates
ota_password: "lightnode2026"
